<div id="crear--modificar" style="display: none;">
	<form>
		<input type="number" id="id" placeholder="ID" class="form-control">
		<br>
		<input type="text" id="nombre" placeholder="Nombre" class="form-control">
		<br>
		<input type="email" id="email" placeholder="Email" class="form-control">
		<br>
		<input type="text" id="cedula" placeholder="Cedula" class="form-control">
		<br>
		<button class="btn btn-default">Cancelar</button>
		<button id="guardar" class="btn btn-success">Guardar</button>
	</form>
</div>