<div id="listado" style="display: none;">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Email</th>
				<th>Cédula</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>